SELECTED_RAM= # 1024 MB == 1 GB
SELECTED_CORES= # Number of CPU cores
SELECTED_DISK= # GB
USERNAME= #USER
PASSWORD= #Password of user
VM_COMPOSE_DIR= # Absolute path to the repo root
RDP_HOST= # RDP host IP (e.g. 127.0.0.1)
RDP_PORT= # RDP port (default: 3389)